{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
    - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
    - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
    - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
    - show_badge: {String} The setting either show the blog badge or not.
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
  {%- liquid
    assign ratio = 1
    if media_aspect_ratio != nil
      assign ratio = media_aspect_ratio
    endif
  -%}
  <div class="article-card-wrapper main-blog-article card-wrapper underline-links-hover">
    {% comment %} <article aria-labelledby="Article-{{ article.id }}"> {% endcomment %}
    <div class="card article-card
      card--standard
      {% if media_height and media_height != 'adapt' %} article-card__image--{{ media_height }}{% endif %}
      {% if article.image and show_image %} card--media{% else %} card--text{% endif %}
      {% if settings.blog_card_style == 'card' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}
      {% if settings.blog_card_style == 'card' and media_height == nil and article.image == empty or show_image == false %} ratio{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div class="card__inner color-background-2 {% if article.image and show_image %} ratio{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        {%- if show_image == true and article.image -%}
          <div class="article-card__image-wrapper card__media">
            <div class="article-card__image media media--hover-effect" {% if section.settings.media_height == 'adapt' %} style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"{% endif %}>
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="motion-reduce {% if article.metafields.custom.image_mobile %}desktop-only{% endif %}"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
              {% if article.metafields.custom.image_mobile %}
                <img
                srcset="{%- if article.metafields.custom.image_mobile.width >= 375 -%}{{ article.metafields.custom.image_mobile | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if article.metafields.custom.image_mobile.width >= 750 -%}{{ article.metafields.custom.image_mobile | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if article.metafields.custom.image_mobile.width >= 1100 -%}{{ article.metafields.custom.image_mobile | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if article.metafields.custom.image_mobile.width >= 1500 -%}{{ article.metafields.custom.image_mobile | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if article.metafields.custom.image_mobile.width >= 1780 -%}{{ article.metafields.custom.image_mobile | image_url: width: 1780 }} 1780w,{%- endif -%}
                  {%- if article.metafields.custom.image_mobile.width >= 2000 -%}{{ article.metafields.custom.image_mobile | image_url: width: 2000 }} 2000w,{%- endif -%}
                  {%- if article.metafields.custom.image_mobile.width >= 3000 -%}{{ article.metafields.custom.image_mobile | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {%- if article.metafields.custom.image_mobile.width >= 3840 -%}{{ article.metafields.custom.image_mobile | image_url: width: 3840 }} 3840w,{%- endif -%}
                  {{ article.metafields.custom.image_mobile | image_url }} {{ article.metafields.custom.image_mobile.width }}w"
                src="{{ article.metafields.custom.image_mobile | image_url: width: 1920 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                loading="lazy"
                class="desktop-hide"
                width="{{ article.metafields.custom.image_mobile.width }}"
                height="{{ article.metafields.custom.image_mobile.height }}"
              >
              {% endif %}
            </div>
          </div>
        {%- endif -%}
        <div class="card__content">
        <div class="card__information">
          <div class="card__information-content">
          {%- if show_blog_title -%}
            {% unless blog_title != blank %}
              {% assign blog_title = blog.title %}
            {% endunless %}
            <div class="blog-title-wrapper">{{ blog_title }}</div>
          {%- endif -%}
          <h3 class="card__heading">
            <a href="{{ article.url }}" class="full-unstyled-link">
              {{ article.title | escape }}
            </a>
          </h3>
          
          {%- if show_excerpt -%}
            {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
              <p class="article-card__excerpt rte-width">
                {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt | strip_html }}
                {%- else -%}
                  {{ article.content | strip_html }}
                {%- endif -%}
              </p>
            {%- endif -%}
            <div class="article-card__footer">
              {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
              {%- endif -%}
            </div>
          {%- endif -%}
          <div class="article-card__info caption-with-letter-spacing h5">
            <div class="author">
              {%- if show_author -%}
                {% render 'icon-mini-logo' %} <span>{{ 'blogs.article.by' | t }}{{ article.author }}</span>
              {%- endif -%}
            </div>
            <div class="date">
              {%- if show_date -%}
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.4">
                  <path d="M10.1986 1.66663C5.60357 1.66663 1.86523 5.40496 1.86523 9.99996C1.86523 14.595 5.60357 18.3333 10.1986 18.3333C14.7936 18.3333 18.5319 14.595 18.5319 9.99996C18.5319 5.40496 14.7936 1.66663 10.1986 1.66663ZM10.1986 16.6666C6.52273 16.6666 3.5319 13.6758 3.5319 9.99996C3.5319 6.32413 6.52273 3.33329 10.1986 3.33329C13.8744 3.33329 16.8652 6.32413 16.8652 9.99996C16.8652 13.6758 13.8744 16.6666 10.1986 16.6666Z" fill="black"/>
                  <path d="M11.0319 5.83337H9.36523V10.8334H14.3652V9.16671H11.0319V5.83337Z" fill="black"/>
                  </g>
                </svg>
                <span class="circle-divider">{{ 'blogs.article.Posted' | t }}{{ article.created_at | date: '%d %b %Y' }}</span>
              {%- endif -%}
            </div>
          </div>
          </div>
        </div>
        {%- if show_badge -%}
          <div class="card__badge {{ settings.badge_position }}">
            <span class="badge color-background-1">{{ 'blogs.article.blog' | t }}</span>
          </div>
        {%- endif -%}  
      </div>
      </div>
      <div class="card__content">
        <div class="card__information">
           <div class="card__information-content">
          {%- if show_blog_title -%}
            {% unless blog_title != blank %}
              {% assign blog_title = blog.title %}
            {% endunless %}
            <div class="blog-title-wrapper">{{ blog_title }}</div>
          {%- endif -%}
          <h3 class="card__heading">
            <a href="{{ article.url }}" class="full-unstyled-link">
              {{ article.title | escape }}
            </a>
          </h3>
          {%- if show_excerpt -%}
            {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
              <p class="article-card__excerpt rte-width">
                {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt | strip_html }}
                {%- else -%}
                  {{ article.content | strip_html }}
                {%- endif -%}
              </p>
            {%- endif -%}
            <div class="article-card__footer">
              {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
              {%- endif -%}
            </div>
          {%- endif -%}
          <div class="article-card__info caption-with-letter-spacing h5">
            <div>
              {%- if show_author -%}
                {% render 'icon-mini-logo' %} <span>{{ 'blogs.article.by' | t }}{{ article.author }}</span>
              {%- endif -%}
            </div>
            <div class="date">
              {%- if show_date -%}
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.4">
                  <path d="M10.1986 1.66663C5.60357 1.66663 1.86523 5.40496 1.86523 9.99996C1.86523 14.595 5.60357 18.3333 10.1986 18.3333C14.7936 18.3333 18.5319 14.595 18.5319 9.99996C18.5319 5.40496 14.7936 1.66663 10.1986 1.66663ZM10.1986 16.6666C6.52273 16.6666 3.5319 13.6758 3.5319 9.99996C3.5319 6.32413 6.52273 3.33329 10.1986 3.33329C13.8744 3.33329 16.8652 6.32413 16.8652 9.99996C16.8652 13.6758 13.8744 16.6666 10.1986 16.6666Z" fill="black"/>
                  <path d="M11.0319 5.83337H9.36523V10.8334H14.3652V9.16671H11.0319V5.83337Z" fill="black"/>
                  </g>
                </svg>
                <span class="circle-divider">{{ 'blogs.article.Posted' | t }}{{ article.created_at | date: '%d %b %Y' }}</span>
              {%- endif -%}
            </div>
          </div>
          </div>
        </div>
        {%- if show_badge -%}
          <div class="card__badge {{ settings.badge_position }}">
            <span class="badge color-background-1">{{ 'blogs.article.blog' | t }}</span>
          </div>
        {%- endif -%}  
      </div>
    </div>
  </div>
{%- endif -%}
