{% unless template == 'index' %}
  <ul class="breadcrumb" aria-label="breadcrumbs">
    <li>
      <a href="{{ routes.root_url }}" class="breadcrumb-link" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}
      </a>
      {% render 'icon-right' %}
    </li>

    {% if template contains 'product' %}

      {% if collection %}
        {% if collection.handle %}
          {% capture url %}/collections/{{ collection.handle }}
          {% endcapture %}
          <li>{{ collection.title | link_to: url }}
            {% render 'icon-right' %}
          </li>
        {% endif %}
      {% endif %}
      <li>
        <span>{{ product.title }}
        </span>
      </li>

    {% elsif template == 'cart' %}
      <li>
        <span>{{ 'cart.general.title' | t }}
        </span>
      </li>


    {% elsif template contains 'collection' and collection.handle %}
      {%- assign breadcrumbs_linklist = linklists['breadcrumbs-collection'] -%}
      {%- assign parent_collection = nil -%}

      {%- for link in breadcrumbs_linklist.links -%}
        {%- if link.links.size > 0 -%}
          {%- for child_link in link.links -%}
            {%- if child_link.url == collection.url -%}
              {%- assign parent_collection = link -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if parent_collection != nil -%}
        <li>
          <a href="{{ parent_collection.url }}">{{- parent_collection.title -}}</a>
          {% render 'icon-right' %}
        </li>
      {%- endif -%}
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}
        {% endcapture %}
        <li>{{ collection.title | link_to: url }}
          {% render 'icon-right' %}
        </li>
        <li>
          <span>{{ current_tags | join: " + " }}
          </span>
        </li>
      {% else %}
        <li>
          <span>{{ collection.title }}
          </span>
        </li>
      {% endif %}

      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "name": "Home",
              "item": "{{ shop.url | append: '/' }}"
            },
            {% if parent_collection != nil %}
              {
                "@type": "ListItem",
                "position": 2,
                "name": "{{ parent_collection.title }}",
                "item": "{{ parent_collection.url | prepend: shop.url }}"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "{{ collection.title }}",
                "item": "{{ collection.url | prepend: shop.url }}"
              }
            {%- else -%}
              {
                "@type": "ListItem",
                "position": 2,
                "name": "{{ collection.title }}",
                "item": "{{ collection.url | prepend: shop.url }}"
              }
            {% endif %}
          ]
        }
      </script>

    {% elsif template == 'blog' %}

      {% if current_tags %}
        <li>{{ blog.title | link_to: blog.url }}
          {% render 'icon-right' %}
        </li>
        <li>
          <span>{{ current_tags | join: " + " }}
          </span>
        </li>
      {% else %}
        <li>
          <span>{{ blog.title }}
          </span>
        </li>
      {% endif %}

    {% elsif template == 'article' %}

      <li>{{ blog.title | link_to: blog.url }}
        {% render 'icon-right' %}
      </li>
      <li>
        <span>{{ article.title }}
        </span>
      </li>

    {% elsif template contains 'page' %}
      {%- if template.suffix == 'search-help-center' -%}
        <li><a href="/pages/help-center">{{ 'general.breadcrumbs.help_center' | t }}</a>{% render 'icon-right' %}</li>
        <li>
          <span>{{ 'general.breadcrumbs.search_results' | t }}
          </span>
        </li>
      {%- else -%}
        <li>
          <span>{{ page.title }}
          </span>
        </li> 
      {%- endif -%}

    {% elsif template contains 'search' %}
      <li>
        <span>{{ 'general.search.title' | t }}
        </span>
      </li>

    {% else %}

      <li>
        <span>{{ page_title }}
        </span>
      </li>

    {% endif %}
  </ul>
{% endunless %}
