<link rel="stylesheet" href="{{ 'size-guide.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="size-guide-section hidden" data-measure="in">
  <div class="size-guide-body">
    <div class="size-top">
      <p>{{ 'products.product.size_guide_popup.classic_tee' | t }}</p>
      <a class="close-popup">{% render 'icon-close' %}</a>
    </div>
    <div class="size-container">
      <div class="header-size">
        <ul id="tabs">
          <li class="size-guide-name "><a id="tab1" data-title="{{ 'products.product.size_guide_popup.classic_tee' | t }}">{{ 'products.product.size_guide_popup.classic_tee' | t }}</a></li>
          <li class="size-guide-name"><a id="tab2" data-title="{{ 'products.product.size_guide_popup.premium_tee' | t }}">{{ 'products.product.size_guide_popup.premium_tee' | t }}</a></li>
          <li class="size-guide-name"><a id="tab3" data-title="{{ 'products.product.size_guide_popup.pullover_hoddie' | t }}">{{ 'products.product.size_guide_popup.pullover_hoddie' | t }}</a></li>
          <li class="size-guide-name"><a id="tab4" data-title="{{ 'products.product.size_guide_popup.sweatshirt' | t }}">{{ 'products.product.size_guide_popup.sweatshirt' | t }}</a></li>
        </ul>
      </div>
      <div id="tab1Q" data-id="tab1"class="Q-tab">
        <div class="title-size">
          <p>{{ 'products.product.size_guide_popup.classic_tee' | t }}</p>
        </div>
        <div class="main-size">
          <div class="main-size-top">
            <div class="h2">{{ 'products.product.size_guide_popup.find_your_size' | t }}</div>
            <ul class="main-size-top-unit">
              <li class="change-resize-in">in</li>
              <li class="change-resize-cm active">cm</li>
            </ul>
          </div>
          <div class="caculator-size">
            <div class="h2">{{ 'products.product.size_guide_popup.calculate_your_size' | t }}</div>
            <div class="chest-waist">
              <div class="chest-waist-item">
                <label>{{ 'products.product.size_guide_popup.chest' | t }}</label>
                <input id="chest" name="chest">
                <span>In</span>
              </div>
              <div class="chest-waist-item">
                <label>{{ 'products.product.size_guide_popup.waist' | t }}</label>
                <input id="waist" name="waist">
                <span>In</span>
              </div>
            </div>
            <button id="cal-submit-1" class="cal-submit">{{ 'products.product.size_guide_popup.calculate' | t }}</button>
            <div id="answer" class="answer-wrapper"></div>
          </div>
          <div class="size-chart size-chart-tab1 show">
            <div class="h2">{{ 'products.product.size_guide_popup.size_chart'| t }}</div>
            <div class="chart-table">
              <table tabindex="0" class="size-chart-table">
                <thead>
                  <tr>
                    <th scope="col">{{ 'products.product.size_guide_popup.size' | t }}</th>
                    <th scope="col">{{ 'products.product.size_guide_popup.chest' | t }}</th>
                    <th scope="col">{{ 'products.product.size_guide_popup.waist' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">s</th>
                    <td id="size-1" class="size-data" data-in="36">36</td>
                    <td id="size-2" class="size-data" data-in="28">28</td>
                  </tr>
                  <tr>
                    <th scope="row">m</th>
                    <td id="size-3" class="size-data" data-in="40">40</td>
                    <td id="size-4" class="size-data" data-in="29">29</td>
                  </tr>
                  <tr>
                    <th scope="row">l</th>
                    <td id="size-5" class="size-data" data-in="44">44</td>
                    <td id="size-6" class="size-data" data-in="30">30</td>
                  </tr>
                  <tr>
                    <th scope="row">xl</th>
                    <td id="size-7" class="size-data" data-in="48">48</td>
                    <td id="size-8" class="size-data" data-in="31">31</td>
                  </tr>
                  <tr>
                    <th scope="row">2xl</th>
                    <td id="size-9" class="size-data" data-in="52">52</td>
                    <td id="size-10" class="size-data" data-in="32">32</td>
                  </tr>
                  <tr>
                    <th scope="row">3xl</th>
                    <td id="size-11" class="size-data" data-in="56">56</td>
                    <td id="size-12" class="size-data" data-in="33">33</td> 
                  </tr>
                  <tr>
                    <th scope="row">4xl</th>
                    <td id="size-13" class="size-data" data-in="60">60</td>
                    <td id="size-14" class="size-data" data-in="34">34</td>
                  </tr>
                  <tr>
                    <th scope="row">5xl</th>
                    <td id="size-15" class="size-data" data-in="64">64</td>
                    <td id="size-16" class="size-data" data-in="35">35</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="size-chart size-chart-tab2">
            <div class="h2">{{ 'products.product.size_guide_popup.size_chart'| t }}</div>
            <div class="chart-table">
              <table tabindex="0" class="size-chart-table">
                <thead>
                  <tr>
                    <th scope="col">{{ 'products.product.size_guide_popup.size' | t }}</th>
                    <th scope="col">{{ 'products.product.size_guide_popup.chest' | t }}</th>
                    <th scope="col">{{ 'products.product.size_guide_popup.waist' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">s</th>
                    <td id="size-1" class="size-data" data-in="36">36</td>
                    <td id="size-2" class="size-data" data-in="28">28</td>
                  </tr>
                  <tr>
                    <th scope="row">m</th>
                    <td id="size-3" class="size-data" data-in="40">40</td>
                    <td id="size-4" class="size-data" data-in="29">29</td>
                  </tr>
                  <tr>
                    <th scope="row">l</th>
                    <td id="size-5" class="size-data" data-in="44">44</td>
                    <td id="size-6" class="size-data" data-in="30">30</td>
                  </tr>
                  <tr>
                    <th scope="row">xl</th>
                    <td id="size-7" class="size-data" data-in="48">48</td>
                    <td id="size-8" class="size-data" data-in="31">31</td>
                  </tr>
                  <tr>
                    <th scope="row">2xl</th>
                    <td id="size-9" class="size-data" data-in="52">52</td>
                    <td id="size-10" class="size-data" data-in="32">32</td>
                  </tr>
                  <tr>
                    <th scope="row">3xl</th>
                    <td id="size-11" class="size-data" data-in="56">56</td>
                    <td id="size-12" class="size-data" data-in="33">33</td> 
                  </tr>
                  <tr>
                    <th scope="row">4xl</th>
                    <td id="size-13" class="size-data" data-in="60">60</td>
                    <td id="size-14" class="size-data" data-in="34">34</td>
                  </tr>
                  <tr>
                    <th scope="row">5xl</th>
                    <td id="size-15" class="size-data" data-in="64">64</td>
                    <td id="size-16" class="size-data" data-in="35">35</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="size-chart size-chart-tab3">
            <div class="h2">{{ 'products.product.size_guide_popup.size_chart'| t }}</div>
            <div class="chart-table">
              <table tabindex="0" class="size-chart-table">
                <thead>
                  <tr>
                    <th scope="col">{{ 'products.product.size_guide_popup.size' | t }}</th>
                    <th scope="col">{{ 'products.product.size_guide_popup.chest' | t }}</th>
                    <th scope="col">{{ 'products.product.size_guide_popup.waist' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">s</th>
                    <td id="size-1" class="size-data" data-in="36">36</td>
                    <td id="size-2" class="size-data" data-in="28">28</td>
                  </tr>
                  <tr>
                    <th scope="row">m</th>
                    <td id="size-3" class="size-data" data-in="40">40</td>
                    <td id="size-4" class="size-data" data-in="29">29</td>
                  </tr>
                  <tr>
                    <th scope="row">l</th>
                    <td id="size-5" class="size-data" data-in="44">44</td>
                    <td id="size-6" class="size-data" data-in="30">30</td>
                  </tr>
                  <tr>
                    <th scope="row">xl</th>
                    <td id="size-7" class="size-data" data-in="48">48</td>
                    <td id="size-8" class="size-data" data-in="31">31</td>
                  </tr>
                  <tr>
                    <th scope="row">2xl</th>
                    <td id="size-9" class="size-data" data-in="52">52</td>
                    <td id="size-10" class="size-data" data-in="32">32</td>
                  </tr>
                  <tr>
                    <th scope="row">3xl</th>
                    <td id="size-11" class="size-data" data-in="56">56</td>
                    <td id="size-12" class="size-data" data-in="33">33</td> 
                  </tr>
                  <tr>
                    <th scope="row">4xl</th>
                    <td id="size-13" class="size-data" data-in="60">60</td>
                    <td id="size-14" class="size-data" data-in="34">34</td>
                  </tr>
                  <tr>
                    <th scope="row">5xl</th>
                    <td id="size-15" class="size-data" data-in="64">64</td>
                    <td id="size-16" class="size-data" data-in="35">35</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="size-chart size-chart-tab4">
            <div class="h2">{{ 'products.product.size_guide_popup.size_chart'| t }}</div>
            <div class="chart-table">
              <table tabindex="0" class="size-chart-table">
                <thead>
                  <tr>
                    <th scope="col">{{ 'products.product.size_guide_popup.size' | t }}</th>
                    <th scope="col">{{ 'products.product.size_guide_popup.chest' | t }}</th>
                    <th scope="col">{{ 'products.product.size_guide_popup.waist' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">s</th>
                    <td id="size-1" class="size-data" data-in="36">36</td>
                    <td id="size-2" class="size-data" data-in="28">28</td>
                  </tr>
                  <tr>
                    <th scope="row">m</th>
                    <td id="size-3" class="size-data" data-in="40">40</td>
                    <td id="size-4" class="size-data" data-in="29">29</td>
                  </tr>
                  <tr>
                    <th scope="row">l</th>
                    <td id="size-5" class="size-data" data-in="44">44</td>
                    <td id="size-6" class="size-data" data-in="30">30</td>
                  </tr>
                  <tr>
                    <th scope="row">xl</th>
                    <td id="size-7" class="size-data" data-in="48">48</td>
                    <td id="size-8" class="size-data" data-in="31">31</td>
                  </tr>
                  <tr>
                    <th scope="row">2xl</th>
                    <td id="size-9" class="size-data" data-in="52">52</td>
                    <td id="size-10" class="size-data" data-in="32">32</td>
                  </tr>
                  <tr>
                    <th scope="row">3xl</th>
                    <td id="size-11" class="size-data" data-in="56">56</td>
                    <td id="size-12" class="size-data" data-in="33">33</td> 
                  </tr>
                  <tr>
                    <th scope="row">4xl</th>
                    <td id="size-13" class="size-data" data-in="60">60</td>
                    <td id="size-14" class="size-data" data-in="34">34</td>
                  </tr>
                  <tr>
                    <th scope="row">5xl</th>
                    <td id="size-15" class="size-data" data-in="64">64</td>
                    <td id="size-16" class="size-data" data-in="35">35</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
