{{ 'account-details.css' | asset_url | stylesheet_tag }}
{{ 'text-input.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'section-product-slider.css' | asset_url }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ 'product-recently-viewed.css' | asset_url }}" type="text/css" media="all">
<noscript>{{ 'section-product-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .scrollbar-product-slider--{{ section.id }} {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    height: 4px;
    background: #E6E6E6;
    border-radius: 2px;
  }

  .scrollbar-product-slider--{{ section.id }} .swiper-scrollbar-drag {
    display: block !important;
    cursor: pointer;
  }

  @media screen and (min-width: 1024px) {
    .scrollbar-product-slider--{{ section.id }} {
      margin-top: 48px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  #recently-viewed-products {
    padding-left: 0;
  }
{%- endstyle -%}


{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign page_url = contentForQuerystring
  | split: '"pageurl":"'
  | last
  | split: '"'
  | first
  | split: '.myshopify.com'
  | last
  | replace: '\/', '/'
  | replace: '%20', ' '
  | replace: '\u0026', '&'
-%}
{%- assign page_url = page_url | remove: '?_fd=0&pb=0' | remove: '&_fd=0&pb=0' | split: '.com' | split: '.uk' | last -%}

{%- if page_url contains '/account/orders/' -%}
  {%- render 'account-order-detail' -%}
{%- else -%}
  {%- render 'account-header', sub_greeting: section.settings.sub_greeting -%}
  <div class="account-detail">
    <div class="page-width-desktop">
      <div class="account-detail__wrapper">
        <div class="account-detail__sidebar js-sidebar-sticky sidebar-sticky-hidden">
          {%- render 'account-sidebar', account_sidebar: section.settings.account_sidebar, page_url: page_url -%}
        </div>
        <div class="account-detail__content">
          {%- case page_url -%}
            {%- when '/account' -%}
              {%- render 'account-information' -%}
            {%- when '/account/addresses' -%}
              {%- render 'account-address' -%}
          {%- endcase -%}
          {%- if page_url contains 'view=orders' -%}
            {%- render 'account-orders'
              link: section.settings.order_support_url
            -%}
            <div data-section-id="{{ section.id }}" data-section-type="gp-product-slider" class="gp-section-wrapper gp-product-slider-wrapper gp-recently-viewed-products recently-viewed-account">
              <div class="gp-product-slider page-width-desktop gp-section-inner">
                <div class="row">
                  <div class="col-12">
                    {% render 'recently-viewed',
                      class: 'recently-viewed-account-item',
                      heading: section.settings.heading,
                      link: section.settings.link,
                      product_per_row : 4,
                      product_per_row_tablet: 3,
                      product_per_row_mobile: 2,
                      product_limit: 10
                    %}
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
          {%- if page_url contains 'view=favourites' -%}
            {%- render 'account-wishlist' -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

<script>
  (function () {
    const swiperContainer = document.querySelector('#recently-viewed-wrapper');
    if (swiperContainer) {
      const swiperrr = new Swiper(swiperContainer, {
        slidesPerView: 2,
        spaceBetween: 2,
        watchOverflow: true,
        navigation: {
          nextEl: '.next-{{ section.id }}',
          prevEl: '.prev-{{ section.id }}'
        },
        scrollbar: {
          el: '.scrollbar-product-slider--{{ section.id }}',
          draggable: true
        },
        preventClicks: true,
        breakpoints: {
          768: {
            slidesPerView: 3
          },
          1024: {
            slidesPerView: 3.2
          }
        }
      })
  
      let touchStartY = 0;
  
      swiperContainer.addEventListener('touchstart', function (event) {
        touchStartY = event.touches[0].clientY;
      });
  
      swiperContainer.addEventListener('touchmove', function (event) {
        const touchEndY = event.touches[0].clientY;
        const touchDiffY = touchEndY - touchStartY;
  
        // If the user is swiping up or down
        if (Math.abs(touchDiffY) > 10) {
          event.preventDefault(); // Prevent default window scroll behavior
        }
      });
    }
  }());
</script>

{% schema %}
{
  "name": "t:sections.account-details.name",
  "settings": [
    {
      "type": "link_list",
      "id": "account_sidebar",
      "label": "t:sections.account-details.account_sidebar"
    },
    {
      "type": "header",
      "content": "t:sections.account-details.account_sidebar"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Recently viewed products",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "sub_greeting",
      "label": "Greeting subtitle",
      "default": "Have a good day ^^"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Product Related URL"
    },
    {
      "type": "url",
      "id": "order_support_url",
      "label": "t:sections.account-details.order_support_url"
    },
    {
      "type": "header",
      "content": "t:sections.account-details.product_recently_viewed"
    },
    {
      "type": "range",
      "id": "product_per_row",
      "label": "Products per row",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "product_per_row_tablet",
      "label": "Products per row tablet",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 12
    }
  ]
}
{% endschema %}