<link rel="stylesheet" href="{{ 'section-product-slider.css' | asset_url }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ 'product-recently-viewed.css' | asset_url }}" type="text/css" media="all">
<noscript>{{ 'section-product-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>


{%- style -%}
   [data-section-id="{{ section.id }}"].gp-product-slider-wrapper {
    background: {{ section.settings.background_color }};
  }
  [data-section-id="{{ section.id }}"].pt-{{ section.settings.padding_top }}-{{ section.settings.padding_top_mb }} {
    padding-top: {{ section.settings.padding_top_mb }}px;
  }
  [data-section-id="{{ section.id }}"].pb-{{ section.settings.padding_bottom }}-{{ section.settings.padding_bottom_mb }} {
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  @media screen and (min-width: 1024px) {
    [data-section-id="{{ section.id }}"].pt-{{ section.settings.padding_top }}-{{ section.settings.padding_top_mb }} {
      padding-top: {{ section.settings.padding_top }}px;
    }
    [data-section-id="{{ section.id }}"].pb-{{ section.settings.padding_bottom }}-{{ section.settings.padding_bottom_mb }} {
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .scrollbar-product-slider--{{ section.id }} {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    height: 4px;
    background: #E6E6E6;
    border-radius: 2px;
  }

  .scrollbar-product-slider--{{ section.id }} .swiper-scrollbar-drag {
    display: block !important;
    cursor: pointer;
  }

  @media screen and (min-width: 1024px) {
    .scrollbar-product-slider--{{ section.id }} {
      margin-top: 48px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  #recently-viewed-products {
    padding-left: 0;
  }
{%- endstyle -%}

<div data-section-id="{{ section.id }}" data-section-type="gp-product-slider" class="gp-section-wrapper gp-product-slider-wrapper pt-{{ section.settings.padding_top }}-{{ section.settings.padding_top_mb }} pb-{{ section.settings.padding_bottom }}-{{ section.settings.padding_bottom_mb }} gp-recently-viewed-products">
  <div class="gp-product-slider page-width-desktop gp-section-inner">
    <div class="row">
      <div class="col-12">
        {% render 'recently-viewed',
          product_per_row : section.settings.product_per_row,
          product_per_row_tablet: section.settings.product_per_row_tablet,
          product_per_row_mobile: 2,
          product_limit: section.settings.limit
        %}
      </div>
    </div>
  </div>
</div>
<script>
  (function () {
    const swiperContainer = document.querySelector('#recently-viewed-wrapper');
    const swiperrr = new Swiper(swiperContainer, {
      slidesPerView: 2,
      spaceBetween: 2,
      navigation: {
        nextEl: '.next-{{ section.id }}',
        prevEl: '.prev-{{ section.id }}'
      },
      scrollbar: {
        el: '.scrollbar-product-slider--{{ section.id }}',
        draggable: true
      },
      preventClicks: true,
      breakpoints: {
        768: {
          slidesPerView: 3
        },
        1024: {
          slidesPerView: 4
        }
      },
      longSwipes: false,
      shortSwipes: false,
      freeMode: {
        enable: true,
        momentumBounce: false
      },
      followFinger: true
    })

    let touchStartY = 0;

    swiperContainer.addEventListener('touchstart', function (event) {
      touchStartY = event.touches[0].clientY;
    });

    swiperContainer.addEventListener('touchmove', function (event) {
      const touchEndY = event.touches[0].clientY;
      const touchDiffY = touchEndY - touchStartY;

      // If the user is swiping up or down
      if (Math.abs(touchDiffY) > 10) {
        event.preventDefault(); // Prevent default window scroll behavior
      }
    });
  }());
</script>
{% schema %}
  {
    "name": "Product recently viewed",
    "class": "spaced-section-100 spaced-top-100",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Custom also bought",
        "label": "Heading"
      },
      {
        "type": "range",
        "id": "product_per_row",
        "label": "Products per row",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "product_per_row_tablet",
        "label": "Products per row tablet",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "limit",
        "label": "Limit",
        "min": 1,
        "max": 20,
        "step": 1,
        "default": 12
      },
      {
  			"type": "header",
  			"content": "Common settings"
  		},
      {
        "type": "color",
        "id": "background_color",
        "label": "Background",
        "default": "#FAFAFA"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top Desktop",
        "default": 64
      }, 
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom Desktop",
        "default": 92
      }, 
      {
        "type": "header",
        "content": "Mobile settings"
      }, 
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top Mobile",
        "default": 32
      }, 
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom Mobile",
        "default": 32
      }
    ],
    "presets": [
      {
        "name": "Product recently viewed",
        "category": "Product"
      }
    ]
  }
{% endschema %}